<div class="slider">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1><a class="navbar-brand" href="~/web/index.html"><span>In</span>Harvest</a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#home" class="active" data-hover="Home">Ana Sayfa</a></li>
                            <li><a href="#about" class="scroll" data-hover="About">Hakkımızda</a></li>
                            <li><a href="#services" class="scroll" data-hover="Services">Hizmetlerimiz</a></li>
                            <li><a href="#team" class="scroll" data-hover="Team">Takımımız</a></li>
                            <li><a href="#gallery" class="scroll" data-hover="Projects">Galeri</a></li>
                            <li><a href="#contact" class="scroll" data-hover="Contact">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div class="w3ls_search">
                <div class="cd-main-header">
                    <ul class="cd-header-buttons">
                        <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                    </ul> <!-- cd-header-buttons -->
                </div>
                <div id="cd-search" class="cd-search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="Aranacak kelimeyi yazınız...">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>

                <div class="slider-info">
                    <h3>ÇEVRE & SÜRDÜRÜLEBİLİRLİK</h3>
                    <p>Tarımda zaman ve enerjiyi azaltmak için yenilikçi ekipmanların kullanılması</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Devamını Oku</a></div>
                </div>
            </li>
            <li>
                <div class="slider-info">
                    <h3>Dünya çapında tarım çözümleri sunuyoruz.</h3>
                    <p>Çiftçilerin karlarını artırmasını sağlamak için yeni ürünler yetiştirmek</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Devamını oku</a></div>
                </div>
            </li>
            <li>
                <div class="slider-info">
                    <h3>ÇEVRE & SÜRDÜRÜLEBİLİRLİK</h3>
                    <p>Tarımda zaman ve enerjiyi azaltmak için yenilikçi ekipmanların kullanılması</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Devamını Oku</a></div>
                </div>
            </li>
            <li>
                <div class="slider-info">
                    <h3>Dünya çapında tarım çözümleri sunuyoruz.</h3>
                    <p>Çiftçilerin karlarını artırmasını sağlamak için yeni ürünler yetiştirmek</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Devamını Oku</a></div>
                </div>
            </li>

        </ul>

    </div>
    <div class="clearfix"></div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <!-- Modal1 -->
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/banner1.jpg" alt=" " class="img-responsive">
                <h5>ÇEVRE & SÜRDÜRÜLEBİLİRLİK</h5>
                <p>Lorem Ipsum, basım ve dizgi endüstrisinin sahte metnidir. Lorem Ipsum, bilinmeyen bir matbaacının bir
                    yazı dizisini alıp bir yazı örneği kitabı oluşturmak için karıştırdığı 1500'lerden bu yana endüstri
                    standardı kukla metin olmuştur. Yalnızca beş yüzyıl boyunca ayakta kalmayı başarmış değil, aynı zamanda
                    elektronik dizgiye de sıçramıştır.</p>
            </div>
        </div>
    </div>
</div>
