<div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
            <div class="me-md-3 me-xl-5">
                <h2>Hoşgeldiniz,</h2>
                <p class="mb-md-0">Admin Paneli</p>
            </div>
            <div class="d-flex">
                <i class="mdi mdi-home text-muted hover-cursor"></i>
                <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap">
            <a href="/Report/Index/" class="btn btn-primary mt-2 mt-xl-0">Download reports
            </a>
        </div>
    </div>
</div>


